<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Peeking Results</Address></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <header>
            <h1> IPeek-a-Boooooooo </h1>
        </header>
        <main>
        <div class = "container">
            <h2> Here are the results for the given IP Address </h2>
            <%- table %>
        </div>
        
    </main>

        <footer>
            <a href = '/'>HOME</a>
            <p>  &copy; 2024 - CMSC335 - IPeek-a-Boooooooo</p>
        </footer>
    </body>
</html>