<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> IPeek-a-Boo </title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <header>
            <h1> IPeek-a-Boooooooo </h1>
        </header>
        <main>
        <div class="container">
            <p> Input an IP Address below to know more about it. </p>
            <br>
            <form action="/search" method="POST">
                <input type="text" name="ipAddress" placeholder="Enter IP Address to check more info" required>
                <button type="submit"> Search!</button>
            </form>
        </div>
        </main>
        

        <footer>
            <p> &copy; 2024 - Jigar - CMSC335 - IP Address Tracker</p>
        </footer>
    </body>
</html>