<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> IPeek-a-Boo </title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <header>
            <h1> IPeek-a-Boooooooo </h1>
        </header>
        <main>
        <div class="container">
            <p> Input an IP Address in the IPV4 below to know more about it. </p>
            <br>
            <p> The IPV4 Address format is a dotted quad or dotted decimal, is x.x.x.x. One example is 192.0.2.146</p>
            <form action="/search" method="POST">
                <input type="text" name="ipAddress" placeholder="Enter IP Address to check more info" required>
                <button type="submit"> Search!</button>
            </form>

            <a href="/history">Here is a list of previously searched IP Addresses</a>
            <br>
            <a href="/top-searched-ips">View Top Searched IP Addresses</a>
        </div>
        </main>
        

        <footer>
            <p> &copy; 2024 - CMSC335- IPeek-a-Boooooooo</p>
        </footer>
    </body>
</html>
