<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Jigar's IP Address Tracker </title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    
    <body>
        <header>
            <h1> Jigar's IP Address Tracker </h1>
        </header>

        <div class="container">
            <form action="/search" method="POST">
                <input type="text" name="ipaddress" placeholder="Enter IP Address to check more info" required>
                <input type="submit" value="Search">
            </form>
        </div>

        <footer>
            <p> &copy; 2024 - Jigar - CMSC335 - IP Address Tracker</p>
        </footer>
    </body>
</html>